body {
  overflow-x: hidden !important;
  font-family: "Heebo", sans-serif !important;
}

.navbar-collapse {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(../assets/img/menu-hambuguesa.webp) !important;
}

.nav-link {
  text-align: right !important;
  font-weight: 300 !important;
  font-size: 1rem !important;
}

.footer {
  margin-top: 50px;
  background-color: rgb(33, 37, 41);
}
.footer .lista1 {
  margin-top: 15px;
  margin-left: 20px;
}
.footer .lista1 li {
  list-style-type: none;
}
.footer .lista1 li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.footer .lista2 {
  margin-top: 15px;
  margin-left: 20px;
}
.footer .lista2 li {
  list-style-type: none;
}
.footer .lista2 li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 200;
  color: #fff;
}

.logos a img {
  margin-top: 20px;
  margin-left: 6px;
  width: 25px;
  height: 25px;
}

.derechos {
  margin: 10px 0 10px 0;
}
.derechos p {
  color: #fff;
  font-size: 10px;
  font-weight: 200;
}

.card {
  width: 90% !important;
  height: 100% !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-body {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

/* personalizacion del h2 de la card*/
.h2-card {
  font-weight: 900;
  color: #fff;
  font-size: 4rem;
  margin-bottom: 30px;
}

.h2-card--dark {
  font-weight: 900;
  color: rgb(33, 37, 41);
  font-size: 4rem;
  margin-bottom: 30px;
}

/* personalizacion de los botones de la card*/
.btn-primary {
  color: rgb(33, 37, 41) !important;
  background-color: #fff !important;
  border-color: #fff !important;
}

/* personalizacion del div que contiene al video*/
.row-video {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.div-video {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video {
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

/* capa de oscurecimiento del video*/
.capa {
  position: absolute;
  width: 100%;
  height: 800px;
  background-color: #1c1c1c;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

/*retoques a section del main index*/
.redondeo-card {
  border-radius: 20px !important;
  border-color: transparent !important;
}

.img-sec-dimen {
  width: 100% !important;
  height: 100% !important;
}

.contexto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contexto h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contexto h1 {
  font-size: 10rem;
  color: #fff;
  font-weight: 900;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contexto a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 1, 5rem;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.btn {
  border-radius: 40px !important;
}

.btn-primary-2 {
  color: #fff !important;
  background-color: rgb(33, 37, 41) !important;
  border-color: rgb(33, 37, 41) !important;
}

.m {
  margin: 40px 0px 0px 0px;
}

/*enlaces del carrucel*/
.enlaces {
  margin-top: 30px;
  padding: 6px 20px;
  border-radius: 30px;
  border: 1.5px solid transparent;
  background: rgb(33, 37, 41);
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.enlaces:hover {
  background-color: rgb(173, 181, 189);
  color: rgb(33, 37, 41);
}

.h2-titulos {
  padding-top: 20px;
  font-size: 5rem;
  font-weight: 900;
  color: rgb(33, 37, 41);
}

.carousel-caption--relative {
  position: relative;
  right: 15%;
  bottom: 1.25rem;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #000;
  text-align: center;
}

/* personalizacion la page sobre nosotros*/
.color-main {
  background-color: #fff;
}

.article1 h2 {
  text-align: right;
  font-size: 4rem;
  font-weight: 900;
  color: rgb(33, 37, 41);
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.article2 h2 {
  text-align: left;
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.articles {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-p-light {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  width: 70%;
  height: auto;
  padding-top: 22px;
  padding-bottom: 22px;
}

.article-p-dark {
  color: rgb(33, 37, 41);
  font-size: 1rem;
  font-weight: 300;
  width: 70%;
  height: auto;
  padding-top: 22px;
  padding-bottom: 22px;
}

.article-ultimo {
  height: 400px;
}

.img {
  width: 60%;
  height: auto;
}

.video2 {
  margin: 1rem;
  width: 60%;
  height: auto;
}

@media only screen and (max-width: 992px) {
  .article-p-light {
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
  }

  .article-p-dark {
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
  }

  .article-ultimo {
    height: auto;
  }

  .card {
    width: 90% !important;
    height: auto !important;
  }

  .img-sec-dimen {
    width: 100% !important;
    height: 100% !important;
  }

  .contexto h1 {
    font-size: 9rem;
  }

  .h2-card {
    font-size: 3rem;
  }

  .h2-card--dark {
    font-size: 3rem;
  }

  .lista1, .lista2 {
    text-align: center;
  }

  .logos {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
  }

  .h2-snkrs {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 668px) {
  .article1 h2 {
    font-size: 55px;
  }

  .article2 h2 {
    font-size: 55px;
  }

  .card {
    width: 85% !important;
    height: auto !important;
  }

  .h2-card {
    font-size: 2, 5rem;
  }

  .h2-card--dark {
    font-size: 2, 5rem;
  }

  .contexto h1 {
    font-size: 8rem;
  }

  .logos {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .logos a img {
    margin-left: 6px;
    width: 20px;
    height: 20px;
  }

  .h2-snkrs {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 576px) {
  .article1 h2 {
    font-size: 2rem;
  }

  .article2 h2 {
    font-size: 2rem;
  }

  .video2 {
    width: 70%;
    height: 80%;
  }

  .card {
    width: 80% !important;
    height: auto !important;
  }

  .card-title {
    margin-bottom: 20px !important;
  }

  .h2-card {
    font-size: 2rem;
  }

  .h2-card--dark {
    font-size: 2rem;
  }

  .contexto h1 {
    font-size: 5rem;
  }

  .contexto h3 {
    font-size: 1rem;
  }

  .article2 h2 {
    font-size: 2rem;
  }

  .video {
    height: 600px;
  }

  .capa {
    height: 600px;
  }

  .footer .lista1 {
    margin-top: 20px;
    margin-left: 0;
    padding: 0;
  }

  .footer .lista2 {
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .logos {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .logos a img {
    margin-left: 8px;
    width: 20px;
    height: 20px;
  }
}