.navbar-collapse {
    justify-content: flex-end !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../assets/img/menu-hambuguesa.png) !important;
}

.nav-link {
    text-align: right !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}