.navbar-collapse {
    justify-content: flex-end !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../assets/img/menu-hamburguesa-black.webp) !important;
}
.navbar-nav{
    .nav-link {
        padding-right: 10px;
        text-align: right !important;
        font-weight: 400 !important;
        font-size: 1rem !important;
    }
}