/*enlaces del carrucel*/
.enlaces{
    margin-top: 30px;
    padding: 6px 20px;
    border-radius: 30px;
    border: 1.5px solid transparent;
    background: map-get($colores, dark1 );
    color: map-get($colores, light );
    text-decoration: none;
    transition: .5s;
    &:hover{
        background-color: map-get($colores, gris-claro );
        color: map-get($colores, dark1);
    }
}

.h2-titulos{
    padding-top: 20px;
    font-size: 5rem;
    font-weight: 900;
    color: map-get($colores, dark1 );
}

.carousel-caption--relative {
    position: relative;
    right: 15%;
    bottom: 1.25rem;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: map-get($colores, dark1 );
    text-align: center;
}

.carousel-caption--relative-zap{
    @extend .carousel-caption--relative;
    position: absolute !important;
    left: 15% !important;
}
